<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite" verbose="1">
	<!-- <listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners> -->
    <test name="Regression-Functional Tests">
        <!-- <classes>
        <class name="net.apmoller.crb.portal.executionEngine.TestRunner"/>
        </classes> -->
        <packages>
        <package name="net.apmoller.crb.portal.executionEngine"/>
        </packages>
    </test>
 </suite>
